* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #8deafa;
  padding: 4% 0 0 10%;
}
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0 0 3.5rem;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 1rem;
}


.content {
  position: relative;
  max-width: 500px;
  margin: 1.5rem 0 0 4rem;
}
.note {
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  padding: 20px;
  margin: 2rem 0 ;
  background-color: white;
  border-radius: 1rem;
  border: none;
  outline: none;
}